@import "../../style/variables";

.ContentHeader {
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  background-color: #ffffff;
   
  .ContentHeader .title .searchContainer {
    margin-left: 2.3rem;

  .title {
    display: flex;
    align-items: center;

    .icon {
      display: inline-block;
      cursor: pointer;
      height: fit-content;
      margin: 0.5rem;
      color: #6f7782;
    }

    h2 {
      font-family: $font-family;
      font-size: $h1-size;
      font-weight: $h1-weight;
    }

    .star {
      display: inline-block;
      align-self: center;
      height: 25px;
      line-height: 25px;
      margin-left: 1rem;
      cursor: pointer;
    }

    .searchContainer {
      margin-left: 1rem;
      align-self: center;
      border: 1px solid #cbd4db;
      width: 140px;
      border-radius: 16px;
      color: #151b26;
      display: flex;

      & > span:nth-of-type(1) {
        align-self: center;
        margin-left: 0.2rem;
      }

      & > input {
        padding: 1px 16px 0 0px;
        color: #151b26;
        transition: all 0.15s;
        height: 32px;
        background-color: transparent;
        border: none;
        outline: none;
        margin-left: 0.2rem;
        overflow: auto;

        &:focus {
          width: 500px;
        }
      }
    }
  }

  .more-content {
    display: flex;
    align-items: center;
    margin-right: 1rem;

    &__MultipleUserProfile {
      margin-right: 2rem;
    }

    &__userSection {
      list-style: none;
      display: flex;

      li {
        margin: 0 0.5rem;
      }
    }
  }
}
