@import "../../style/variables";

.circularButton {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px dashed $gray-300;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $gray-300;
  overflow: hidden;
  box-sizing: content-box;
  cursor: pointer;

  .material-icons {
    color: $gray-300;
  }

  &:hover {
    border: 1px solid $gray-400;

    .material-icons {
      color: $gray-400;
    }
  }
}
