@import "../../style/variables";

.profile {
  font-family: $font-family;
  color: $gray-100;
  font-weight: bolder;
  font-size: 11px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }
}
