.ActionList {
  margin: 0.25rem 0;
}
.ActionList ul {
  list-style: none;
  color: #151b26;
  font-family: "Poppins", sans-serif;
  font-size: 0.81rem;
  font-weight: 400;
  width: 180px;
}
.ActionList ul li {
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  user-select: none;
}
.ActionList ul li .material-icons-outlined {
  font-size: 1rem;
  position: relative;
  top: -1px;
  right: -6px;
}
.ActionList ul li:hover {
  background-color: #e8ecee;
}
.ActionList ul .nextLevel {
  position: absolute;
  border: 1px solid #e8ecee;
  min-width: 150px;
  border-radius: 0.2rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ActionList ul .nextLevel:hover {
  background-color: #fff;
}
.ActionList .FilterFilter {
  height: fit-content;
}
.ActionList .FilterFilter__title {
  font-family: "Poppins", sans-serif;
  font-size: 0.72rem;
  font-weight: 400;
  color: #9ca6af;
  padding: 0.5rem 0.5rem;
}
.ActionList .ProfilePopup .divider,
.ActionList .FilterFilter .divider,
.ActionList .FilterSort .divider,
.ActionList .FilterTasks .divider {
  content: "";
  width: 100%;
  height: 1px;
  background: #e8ecee;
  transform: scaleY(1);
}
.ActionList .ProfilePopup li,
.ActionList .FilterFilter li,
.ActionList .FilterSort li,
.ActionList .FilterTasks li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
  position: relative;
}
.ActionList .ProfilePopup li .material-icons,
.ActionList .ProfilePopup li .material-icons-outlined,
.ActionList .FilterFilter li .material-icons,
.ActionList .FilterFilter li .material-icons-outlined,
.ActionList .FilterSort li .material-icons,
.ActionList .FilterSort li .material-icons-outlined,
.ActionList .FilterTasks li .material-icons,
.ActionList .FilterTasks li .material-icons-outlined {
  font-size: 1rem;
  position: absolute;
  left: 0.5rem;
}
.ActionList .ProfilePopup li__current,
.ActionList .FilterFilter li__current,
.ActionList .FilterSort li__current,
.ActionList .FilterTasks li__current {
  width: 1rem;
  transform: scale(0.5);
  position: absolute;
  left: 0.5rem;
}
.ActionList .ProfilePopup .expandableItem,
.ActionList .FilterFilter .expandableItem,
.ActionList .FilterSort .expandableItem,
.ActionList .FilterTasks .expandableItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.ActionList .ProfilePopup .expandableItem .moreActions,
.ActionList .FilterFilter .expandableItem .moreActions,
.ActionList .FilterSort .expandableItem .moreActions,
.ActionList .FilterTasks .expandableItem .moreActions {
  left: unset;
  top: unset;
  right: 0.25rem;
}
.ActionList .TaskcardContextPopup ul li {
  padding-left: 0.5rem;
}
.ActionList .TaskcardContextPopup ul li .icon {
  margin-right: 0.75rem;
  color: #9ca6af;
}
.ActionList .TaskcardContextPopup ul:nth-of-type(2) {
  border-top: 1px solid #e8ecee;
  border-bottom: 1px solid #e8ecee;
}
.ActionList .TaskcardContextPopup ul:nth-of-type(2) li span {
  margin-left: 0.25rem;
}
.ActionList .TaskcardContextPopup ul:last-of-type {
  color: #e8384f;
}
.ActionList .TaskcardContextPopup ul:last-of-type li span {
  margin-left: 0.25rem;
}
.ActionList .ColumnPopup li {
  color: #e8384f;
}

/*# sourceMappingURL=ActionList.css.map */
