@import "../../style/variables";

.UploadingPhotoBlock {
  height: 4rem;
  width: 280px;
  border-radius: 0.5rem;
  border: 1px solid $gray-200;
  display: flex;
  align-items: center;


  &__icon {
    color: $gray-300;
    font-size: 3rem;
    margin-left: 0.25rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 1rem;
    font-family: $font-family;
    font-size: $desc-size*0.9;
    font-weight: $desc-weight;
    color: $gray-500;
    margin-left: 0.25rem;

    .title {
      margin-bottom: 0.3rem;
    }


    .ProgressBar {
      height: 0.5rem;
      background-color: crimson;
      border-radius: 0.2rem;
    }
  }
}


.MoreActions {
  font-family: $font-family;
  font-size: $desc-size * 0.8;
  font-weight: $desc-weight;
  padding: 0.1rem 0;
  color: $gray-300;

  &__download {
    &:hover {
      color: #20AAEA;
      cursor: pointer;
    }
  }
}
