.taskCard {
  border: 1px solid red;
  width: 17.5rem;
  min-height: 5.25rem;
  border: 1px solid #e8ecee;
  background: #fff;
  border-radius: 0.3rem;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(21, 27, 38, 0.15);
  position: relative;
  margin-bottom: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.81rem;
  color: #151b26;
}
.taskCard--highlighted {
  border: 1px solid #20aaea;
  background: rgba(32, 170, 234, 0.1);
  outline: none;
}
.taskCard--completed {
  opacity: 0.5;
}
.taskCard--dropzone {
  padding: 1rem 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
}
.taskCard--dropzone .uploadArea {
  height: 0;
  width: 100%;
  transition: all 0.3s ease 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.taskCard--dropzone .uploadArea span {
  opacity: 0;
  transition: all 0.3s ease 0.2s;
  font-size: 2rem;
  color: #9ca6af;
}
.taskCard--dropzone .uploadArea--show {
  height: 5rem;
  background-color: #e8ecee;
}
.taskCard--dropzone .uploadArea--show span {
  opacity: 0.5;
}
.taskCard--dropzone .taskCard__top {
  width: 100%;
  margin-bottom: 0.75rem;
}
.taskCard--dropzone .taskCard__top .complete-button {
  font-size: 0.63rem;
}
.taskCard--dropzone .taskCard__top .complete-button:focus {
  outline: none;
}
.taskCard--dropzone .coverImage {
  margin-bottom: 0.8rem;
}
.taskCard--dropzone:hover {
  cursor: pointer;
}
.taskCard--dropzone .content {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  user-select: none;
}
.taskCard--dropzone .content .name {
  height: fit-content;
  padding: 0.25rem 0;
  width: fit-content;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 0.81rem;
  font-weight: 400;
  outline: none;
  resize: none;
  cursor: pointer;
  background: transparent;
}
.taskCard--dropzone .content .name:focus {
  color: black;
}
.taskCard--dropzone .content .new-task-input {
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 0.81rem;
  font-weight: 400;
  height: 100%;
  width: 100%;
  resize: none;
}
.taskCard--dropzone .content .new-task-input:focus {
  outline: none;
}
.taskCard--dropzone .content button {
  background: none;
  border: none;
  display: inline-block;
  position: relative;
  top: -0.1rem;
  transform: scale(0.8);
  visibility: hidden;
  cursor: pointer;
}
.taskCard--dropzone .content button span {
  color: #9ca6af;
}
.taskCard--dropzone .content button span:hover {
  color: #6f7782;
}
.taskCard--dropzone .extra {
  height: 2rem;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  margin-bottom: 0.5rem;
}
.taskCard--dropzone .extra .actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
}
.taskCard--dropzone .extra .actions ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.taskCard--dropzone .extra .actions ul .button {
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.taskCard--dropzone .extra .actions ul .button .circularButton {
  width: 1.5rem;
  height: 1.5rem;
}
.taskCard--dropzone .extra .actions ul .button .circularButton .material-icons {
  font-size: 1.1rem;
}
.taskCard--dropzone .extra .info {
  width: fit-content;
}
.taskCard--dropzone .extra .info ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.taskCard--dropzone .extra .info ul li {
  display: flex;
  align-items: center;
  margin-left: 0.2rem;
}
.taskCard--dropzone .extra .info ul li .numberOfLikes {
  display: inline-block;
  color: #9ca6af;
  line-height: 1.5;
}
.taskCard--dropzone .extra .info ul li .material-icons,
.taskCard--dropzone .extra .info ul li .material-icons-outlined {
  font-size: 0.9rem;
  margin-left: 0.25rem;
  color: #9ca6af;
}

/*# sourceMappingURL=TaskCard.css.map */
