@import "../../style/variables";

.Filterbar {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 0.25rem 0.25rem;

  font-family: $font-family;
  font-size: $desc-size * 0.9;
  font-weight: $desc-weight;

  border-top: 1px solid $gray-200;
  box-shadow: 0 1px 3px 0 rgba(21, 27, 38, 0.15);

  button {
    display: flex;
    align-items: center;

    span {
      margin-right: 0.2rem;
    }
  }
}
