@import "../../style/variables";

.App {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  display: flex;

  .left {
    width: 300px;
    background-color: $gray-500;

    .SideMenuHeader {
      color: white;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      font-size: $h1-size;
      max-width: 300px;

      span {
        cursor: pointer;
      }
    }
  }


  .collapse {
    margin-left: -300px;
    transition: all 0.3s ease;
  }

  .expand {
    margin-left: 0;
    transition: all 0.3s ease;
  }

  .right {
    width: 100%;
    height: 100vh;
    background-color: $gray-100;

    header {
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 1.5rem;

      .title {
        display: flex;
        .icon {
          display: inline-block;
          cursor: pointer;
          position: relative;
          margin-right: 2px;
        }

        h2 {
          font-family: $font-family;
          font-size: $h1-size;
          font-weight: $h1-weight;
        }
      }

      .more-content {
        background: $gray-200;
        color: $gray-500;
      }
    }

    .content {
      height: 100vh;
      background: $gray-300;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $h1-size;
      color: $gray-500;
    }
  }
}
