@import "../../style/variables";

.Breadcrumb {
  ul {
    list-style: none;
    display: flex;

    li {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-family: $font-family;
      font-size: $desc-size;
      font-weight: $desc-weight;
      color: $gray-300;
      padding: 0.25rem 0;

      i {
        margin: 0 0.5rem;
        position: relative;
        top: -1px;
      }
    }
  }
}
