@import "../../style/variables";

.Navigation {
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;

    .active {
      background-color: rgba($gray-400, 0.5);
    }

    li {
      display: flex;
      align-items: center;
      color: $gray-200;
      font-family: $font-family;
      font-weight: $desc-weight;
      font-size: $desc-size;
      padding: 0.5rem 1rem;
      cursor: pointer;

      &:hover {
        background-color: rgba($gray-400, 0.2);
      }

      .link {
        display: flex;
        align-items: center;

        .icon {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
