@import "../../style/variables";

.Navigation {
  border-bottom: 1px solid rgba($gray-400, 0.5);
  min-height: 100px;
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.2rem;

    .active {
      background-color: rgba($gray-400, 0.5);
    }

    li {
      display: flex;
      align-items: center;
      color: $gray-200;
      font-family: $font-family;
      font-weight: $desc-weight;
      font-size: $desc-size;
      padding: 0.5rem 1rem;
      cursor: pointer;
      position: relative;
      line-height: 1.5;

      &:hover {
        background-color: rgba($gray-400, 0.2);
      }

      .link {
        display: flex;
        align-items: center;

        .icon {
          margin-right: 0.5rem;
          transform: scale(0.8);
          position: relative;
          top: -1px;
        }
      }
    }
  }
}
