@import "../../style/variables";

.addNewColumn {
  height: 100vh;
  width: 19rem;
  min-height: 200px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .header {
    margin: 0.1rem 0;
    user-select: none;
    max-height: 45px;

    h2 {
      font-family: $font-family;
      font-size: $h2-size;
      font-weight: $h2-weight;
      color: $gray-300;
      margin-top: 0.5rem;

      span {
        color: $gray-300;
        font-size: 1rem;
        display: inline-block;
        margin-right: 0.2rem;
        position: relative;
        top: 0.1rem;
      }

      &:hover {
        color: #20aaea;
        cursor: pointer;

        span {
          color: #20aaea;
        }
      }
    }

    input {
      font-family: $font-family;
      font-size: $text-size;
      font-weight: $text-weight;
      width: 17.5rem;
      padding: 0.5rem;
      outline: none;
      border-radius: 0.25rem;

      &:focus {
        outline: none;
        border: 1px solid $gray-300;
      }
    }
  }

  .list {
    width: 17.5rem;
    margin: 0.5rem 0;
    min-height: 80vh;
    background: linear-gradient(white, $gray-100);
    border-radius: 0.25rem;
    margin-top: 2.65rem;
    visibility: hidden;

    &--show {
      visibility: visible;
    }
  }
}
