@import "../../style/variables";

.Drawer {
  display: flex;
  flex-direction: row;

  .SideMenu {
    width: 240px;
    min-width: 240px;
    background-color: $gray-500;
    height: 100vh;

    &--close {
      margin-left: -240px;
      transition: all 0.3s ease;
    }

    &--open {
      margin-left: 0;
      transition: all 0.3s ease;
    }

    &--header {
      color: white;
      height: 4.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      font-size: $h1-size;
      max-width: 240px;
      flex-shrink: 1;

      h1 {
        font-family: "Abril Fatface", cursive;
        font-size: $h1-size;
        color: #fff;
        user-select: none;
      }

      span {
        cursor: pointer;
      }
    }

    &--content {
      .below {
        overflow: auto;
        width: 100%;
        font-size: $text-size * 0.9;
        //max-height: 430px;

        &::-webkit-scrollbar {
          width: 8px;
          height: 8px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 8px;
          background-color: hsla(220, 4%, 58%, 0.3);
          transition: background-color 0.3s;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: #bbb;
        }

        &::-webkit-scrollbar-track {
          background: #ededed;
        }
      }
    }
  }

  .main {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    z-index: 10;
    width: 100%;

    &--content {
      flex-shrink: 1;
      height: 100vh;
      overflow-y: hidden;
    }
  }
}
