@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: hsla(220, 4%, 58%, 0.3);
    transition: background-color 0.3s;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #bbb;
  }

  &::-webkit-scrollbar-track {
    background: #ededed;
  }

  a {
    text-decoration: none;
    color: $gray-500;
  }
}
