@import "../../style/variables";

.DisplayPhotoBlock {
  height: 4rem;
  width: 200px;
  position: relative;
  border: 1px solid $gray-200;
  border-radius: 0.5rem;

  &:hover {
    .DisplayPhotoBlock__overlay {
      opacity: 1;
    }
  }

  &__overlay {
    border-radius: 0.5rem;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($gray-500, 0.5);
    opacity: 0;
    transition: opacity 0.15s ease;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    span {
      color: #ffffff;

      &:hover {
        color: #20aaea;
      }
    }
  }

  &:hover {
    cursor: pointer;
  }

  img {
    border-radius: 0.5rem;
    height: 100%;
    width: 100%;
    pointer-events: none;
    user-select: none;
  }
}
