@import "../../style/variables";

.PopupCircularButton {
  &__container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
  }
  &__content {
    width: fit-content;
    background: transparent;
    border: none;
    border-radius: 0.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
