@import "../../style/variables";

.taskCardList {
  width: 17.5rem;
  border-radius: 0.25rem;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.empty {
  background: linear-gradient(lighten($gray-100, 5%), $gray-100);
}
