@import "../../style/variables";

.SideMenuSection {
  width: 300px;
  background: $gray-500;
  color: #ffffff;
  font-family: $font-family;
  padding: 1rem 0;
  border-top: 1px solid $gray-400;
  border-bottom: 1px solid $gray-400;

  &__content {
    header {
      padding: 0.5rem 1.5rem;
      display: flex;
      align-items: center;
      position: relative;

      &:hover {
        cursor: pointer;
      }

      span {
        position: absolute;
        right: 1.5rem;
        transform: scale(0.8);
      }
    }

    .teamHeader {
      &:hover {
        background: $gray-400;
      }
    }

    .memberList {
      display: flex;
      list-style: none;
      padding-left: 1.5rem;
      padding-top: 1rem;

      .member {
        margin-right: 0.25rem;
      }
    }

    .projectList {
      margin-top: 1rem;
      list-style: none;
      display: none;

      &--open {
        display: block;
      }

      .project {
        display: flex;
        align-items: center;
        padding: 0.5rem 0 0.5rem 1.5rem;
        position: relative;

        &:hover {
          background: $gray-400;
          i {
            visibility: visible;
          }
        }
        &__color {
          height: 0.5rem;
          width: 0.5rem;
          margin-right: 1rem;
          border-radius: 2px;
        }

        &__name {
        }

        i {
          position: absolute;
          right: 1.5rem;
          transform: scale(0.8);
          visibility: hidden;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
