@import "../../style/variables";

$left-gap: 8%;

.App-SignUp {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100;
  background: #fff;

  .content {
    width: 100%;
    font-family: $font-family;

    header {
      height: 80px;
      width: 100%;
      padding-left: $left-gap;
      display: flex;
      align-items: center;

      span {
        &:hover {
          cursor: pointer;
        }
      }
    }

    h1 {
      margin-top: 3rem;
      margin-left: $left-gap;
      font-size: $h1-size;
      font-weight: $h1-weight;
    }

    form {
      padding-left: $left-gap;
      margin-top: 2rem;

      .Button {
        margin-top: 1rem;
      }
    }
  }

  .color {
    background: $gradient;
    width: 20%;
    max-width: 220px;
    height: 100vh;
  }
}
