.InvitePopup {
    position: absolute;
    width: 200px;
    height: 80px;
    position: relative;
    left: -33px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #e8ecee;
    border-radius: 0.3rem;
    align-items: center;
    box-shadow: 0 0 2px rgb(65, 64, 64);
    transition: all ease 0.5s;
    /* justify-content: center; */
    padding: 0;

  }
  .InvitePopup:hover{
    transform: translateY(-2px);
  }

  .invite-top{
    height: 8px;
    width: 100%;
    background: linear-gradient(to right,rgb(186, 255, 186),#4ce3fe);
  }

  .invite-content .invite-close{
    position: absolute;
    top:0.3rem;
    right:0.7rem;
    transform:rotate(45deg);
    font-size: 1.4rem;
    color: #828485;
    cursor: pointer;
}
.invite-description{
    margin-top: 0.8rem;
    font-family: "Poppins", sans-serif;
    font-size: 0.80rem;
    font-weight: 400;
    color:#47494a;
   
}
  .invite-content .invite-team{
    font-family: "Poppins", sans-serif;
    color:#4ce3fe;
    font-size: 0.9rem;
    font-weight: 500;

  }



