@import "../../style/variables";

$green: #00bf9c;

.complete-button {
  //@include debug;
  border: 1px solid $gray-400;
  color: $gray-400;
  font-family: $font-family;
  font-weight: $desc-weight;
  font-size: $desc-size * 0.9;
  padding: 0.12rem 0.5rem;
  text-align: center;
  border-radius: 0.25rem;
  width: fit-content;
  background: transparent;
  transition: all 0.1s ease;

  &:hover {
    border-color: $green;
    color: $green;
    cursor: pointer;
    background: rgba($green, 10%);
  }

  .content {
    display: flex;
    align-items: center;
    span {
      font-size: $desc-size;
      position: relative;
      top: -1px;
      margin-right: 0.2rem;
    }
  }
}

.completed {
  color: white;
  background: lighten($green, 8%);
  border: none;

  &:hover {
    color: white;
    background: $green;
  }
}
